* {
	margin: 0;
	padding: 0;
}
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

#obj {
	position: absolute;
	top: 0;
	left: 50%;
	width: 150px;
	height: 150px;
	border: none;
	border-radius: 50%;
	background:#000;
}